{% extends 'base.html' %}

{% block head %}
<title>My Tool</title>
<style>
    h1 {
        margin: 20px 10px 20px 10px;
    }

    h3 {
        margin-top: 20px;
        padding: 0.4rem;
        border-bottom: 1px solid #777777;
    }
</style>
{% endblock %}

{% block body %}
<h1>メニュー</h1>

<div class="mb-4">
    <label>Canvas テスト</label>
    <ul>
        <li>
            <a href="./circle">circle</a>
        </li>
    </ul>
</div>

<script>
    function onload() {
    }
    onload()
</script>
{% endblock %}